body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #BDE8FA;
  padding: 3rem 2rem;
  /*padding är 3 toppen och botten, 2 hö-vä*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
}

.card {
  border: 1px solid black;
}

.city {
  font-weight: bold;

}

.forecast {
  display: flex;
  flex-direction: column;
  padding: 0;
}