body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  /*padding är 3 toppen och botten, 2 hö-vä*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
}

.card {
  background: #BDE8FA;
  padding: 2rem;
}

.city {
  font-weight: bold;

}

.forecast {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (min-width: 1440px) {
  body {
    padding: 4rem 3rem;
    font-size: 2rem;
  }

  .card {
    max-width: 900px;
    padding: 48px;
  }

  .headline {
    font-size: 3rem;
  }

}